﻿@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using CustomerProduct.App.Data
@inject WeatherForecastService ForecastService
@inject IHttpContextAccessor httpContextAcessor

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <AuthorizeView>
    <Authorized>
    <p>Username: @username</p>      
    <p>This component demonstrates fetching data from a service.</p>
    </Authorized>
    <NotAuthorized>
    <h1>HO HO HO</h1>
    </NotAuthorized>
    </AuthorizeView>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    private string? username = null;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        username = httpContextAcessor.HttpContext.User.Identity.Name;
    }
}
