﻿@page "/pricelistsoverview"
@using CustomerProduct.App.Component
@using ProductsServerApp.Data

@inject IUnitOfWork uow;

<PageTitle>Price Lists</PageTitle>

<h3>Price Lists Overview</h3>


@if (priceLists == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Valid From</th>
                <th>Valid To</th>
                <th>Currency</th>
                <th>Currency Symbol</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var PriceList in priceLists)
            {
                <tr>
                    <td>@PriceList.Title</td>
                    <td>@PriceList.ValidFrom.ToLongDateString()</td>
                    <td>@PriceList.ValidTo.ToLongDateString()</td>
                    <td>@PriceList.Currency.Title</td>
                    <td>@PriceList.Currency.Symbol</td>
                    <td>
                        <a class="btn btn-secondary" @onclick="@(() => ShowPriceListDialog(@PriceList.PriceListID))">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ShowPriceListDetails @ref="ShowPriceListDetails"> </ShowPriceListDetails>
}
