﻿@page "/productedit"
@page "/productedit/{ProductID}"
@using ProductsServerApp.Data

@inject IUnitOfWork uow
@inject IHttpContextAccessor httpContextAcessor
@inject NavigationManager NavManager

<AuthorizeView Context="test1">

    <Authorized Context="test12312">
        <section class=Product_edit>
            <EditForm Model="@ProductVM" OnValidSubmit=@OnValidSubmission>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-btn-group row">
                    @if (@ProductVM.ProductID != null)
                    {
                        <h1 class="page-title">Details for @ProductVM.ProductID</h1>
                        <hr />
                        @*Title*@
                        <label for="title" class="col-sm-2 col-form-label">
                            Title
                        </label>
                        <div class="col-sm-10">
                            <InputText id="title" @bind-Value="@ProductVM.Title" class="form-control" placeholder="Enter title" />
                            <ValidationMessage For="() => ProductVM.Title" class="col" />
                        </div>
                    }
                    else
                    {
                        <h1 class="page-title">Create a new product</h1>
                        <hr />
                        @*Title*@
                        <label for="title" class="col-sm-2 col-form-label">
                            Title
                        </label>
                        <div class="col-sm-10">
                            <InputText id="title" @bind-Value="@ProductVM.Title" class="form-control" placeholder="Enter title" />
                            <ValidationMessage For="() => ProductVM.Title" class="col" />
                        </div>
                    }
                </div>
                <p />
                <input class="btn btn-primary" type="submit" value="Submit" style="float: right">
            </EditForm>
        </section>
    </Authorized>
    <NotAuthorized>
        <h1>Please login to be able to see this page.</h1>
    </NotAuthorized>
</AuthorizeView>