﻿@page "/productsoverview"
@using CustomerProduct.App.Component
@using ProductsServerApp.Data

@inject IUnitOfWork uow;

<PageTitle>Products</PageTitle>

<h3>Product Overview</h3>


@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Created By</th>
                <th>Modified</th>
                <th>Modified By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Product in products)
            {
                <tr>
                    <td>@Product.ProductID</td>
                    <td>@Product.Title</td>
                    <td>@Product.Created</td>
                    <td>@Product.CreatedBy</td>
                    <td>@Product.Modified</td>
                    <td>@Product.ModifiedBy</td>
                    <td><a class="btn btn-primary" href="@($"productedit/{Product.ProductID}")"><i class="oi oi-pencil"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/productedit">Create a new product</a>
    <AddProductDialog @ref="AddProductDialog" CloseEventCallback="@AddProductDialog_OnDialogClose"> </AddProductDialog>

    <button type="button" class="btn btn-primary" style="float:right;" onclick="@AddProduct">New product</button>
}