﻿@using CustomerProduct.App.Data.ModelsViewModels
@using ProductsServerApp.Data

@inject IUnitOfWork uow
@inject IHttpContextAccessor httpContextAcessor

@if (ShowDialog == true)
{
    <EditForm Model="@ProductVM" OnValidSubmit=@HandleValidSubmit>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="modal fade show d-block" id="addProduct" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Product</h5>
                        <button type="button" class="btn-close" arial-label="Close" onclick="@Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-btn-group row">
                            <h1 class="page-title">Create a new product</h1>
                            <hr />
                            @*Title*@
                            <label for="title" class="col-sm-2 col-form-label">
                                Title
                            </label>
                            <div class="col-sm-10">
                                <InputText id="title" @bind-Value="@ProductVM.Title" class="form-control" placeholder="Enter title" />
                                <ValidationMessage For="() => ProductVM.Title" class="col" />
                            </div>
                        </div>
                        <p />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="@Close">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    private ProductViewModel ProductVM;
    public bool ShowDialog { get; set; } = false;
    [Parameter]
    public EventCallback CloseEventCallback { get; set; }

    public void Show()
    {
        ProductVM = new ProductViewModel();
        ShowDialog = true;
        StateHasChanged();
    }

    public void Close()
    {
        ShowDialog = false;
        StateHasChanged();
    }

    protected async Task HandleValidSubmit()
    {
        ShowDialog = false;
        ProductVM.CreatedBy = httpContextAcessor.HttpContext.User.Identity.Name;
        await uow.ProductRepo.CreateOrUpdateProductAsync(ProductVM);
        await CloseEventCallback.InvokeAsync();
        StateHasChanged();

    }
}
