﻿@using CustomerProduct.App.Data.ModelsViewModels
@using ProductsServerApp.Data

@inject IUnitOfWork uow

@if (ShowDialog == true)
{
    <div class="modal fade show d-block" id="addProduct" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Price List Detail</h5>
                    <button type="button" class="btn-close" arial-label="Close" onclick="@Close"></button>
                </div>
                <div class="modal-body">
                    @if (priceListDetailsViewModels.Count != 0)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Price List ID</th>
                                    <th>Position NR</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var PriceListDetail in priceListDetailsViewModels)
                                {
                                    <tr>
                                        <td>@PriceListDetail.PriceListID</td>
                                        <td>@PriceListDetail.PositionNr</td>
                                        <td>@PriceListDetail.Product.Title</td>
                                        <td>@PriceListDetail.Price</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p><em>There´s no details in this list.</em></p>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="@Close">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private List<PriceListDetailsViewModel> priceListDetailsViewModels;
    public bool ShowDialog { get; set; } = false;
    [Parameter]
    public int priceListID { get; set; }

    public async void Show(int id)
    {
        priceListDetailsViewModels = await uow.ProductRepo.GetPriceListDetailsVMsAsyncByID(id);
        ShowDialog = true;
        StateHasChanged();
    }

    public void Close()
    {
        ShowDialog = false;
        StateHasChanged();
    }
}

